.dashboard-header-title{
  font-size: 40px;
  color: var(--text-dark);
  margin-top: 20px;
  font-weight: bold;
}

#dashboard-header-date{
  color: var(--text-dark);
}
  

/* .dashboard-title {
  background: linear-gradient(to right, #86a396, #23cf82);
  color: var(--text-light);
  padding: 20px;
  border-radius: 10px;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
} */

