.task-employee-info{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}


.task-employee-info-title{
    color:  var(--text-color);
    text-align: center;
  }
  
