.task-employee-info{
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 220px;
  display: flex;
  align-items: center;
  gap: 20px;
}


.task-employee-info-title{
    color:  var(--text-color);
    text-align: center;
  }
  

  @media (max-width: 1500px) {
    .task-employee-info {   
      flex-direction: column;
    }
  }