/* Primary color */
:root {
    --background-color:  #f2f5f7;
  }

/* Text colors */
:root {
  --text-color: rgb(68, 74, 100);
}

/* Background color */
body {
  background-color: var(--background-color);
  color: var(--text-light);
  font-family: 'Roboto', sans-serif;
}