/* Primary color */
:root {
    --background-color:  #f7f2f2;
  }

/* Text colors */
:root {
  --text-light: #ffffff;
  --text-dark: rgb(59, 64, 85);
}

/* Background color */
body {
  background-color: var(--background-color);
  color: var(--text-light);
  font-family: 'Roboto', sans-serif;
}