.navbar {
  color:  var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-header-title {
  font-size: 40px;
  font-weight: bold;
}

#dashboard-header-date {
  margin-right: 20px;
}

.logo {
  width: 60px;
  height: auto;
  margin-right: 20px;
  border-radius: 20px;
}